<div class="container">
<p><%= link_to @idea.category.name, category_path(@idea.category) %><p>

<p><strong>Idea Name:</strong> <%= @idea.title %></p>
<p><strong>Idea Content:</strong> <%= @idea.notes %></p>


</br>
</br>
</br>

<div>
  <div class="row">
<% @idea.images.each do |image| %>
<div class="col-md-4"><%= image_tag image.image.url, :width => '55%' %></div>
<% end %>
</div>
</div>

</div>
