<div class="container-fluid">
<div class="new_category">
<%= form_for [:admin, @category] do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>
<%= f.submit class: "btn btn-default btn-sm"%>
<% end %>
</div>
</div>
