<p>Category Name:<%= @category.name %></p>

<p><strong> List of <%= @category.name %> Ideas</strong> </p>
<ol>
<% @ideas.each do |idea| %>
<li><%= link_to idea.title, category_idea_path(@category, idea) %></li>
<% end %>
</ol>

<p><%= link_to "Create a New Idea", new_idea_path %></p>
